/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";

/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more information, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

/* Custom  */
:root {
    --ion-color-strong-blue: #2b61d5;
    --ion-color-normal-blue: #8ab3ea;
    --ion-color-light-blue: #c0daf6;
    
    --ion-color-normal-green: #60ad5a;
    --ion-color-strong-green: #60ad5a;
    --ion-color-light-green: #7fbb90;

    --ion-color-normal-gray: #6a7088;

    --ion-safe-area-top: calc(var(--tg-safe-area-inset-top) + 40px);
    --ion-safe-area-bottom: var(--tg-safe-area-inset-bottom);
    --ion-safe-area-left: var(--tg-safe-area-inset-left);
    --ion-safe-area-right: var(--tg-safe-area-inset-right);
}
